<!DOCTYPE html>
<html>
 <head>
  <title>Basketball Team</title>
 </head>
 <body>
   <label>Team Name: <%= @name %></label><br><br>
   <label>Coach: <%= @coach %> </label><br><br>
   <label>Point Guard: <%= @pg %> </label><br><br>
   <label>Shooting Guard: <%= @sg %> </label><br><br>
   <label>Small Forward: <%= @sf %> </label><br><br>
   <label>Power Forward: <%= @pf %> </label><br><br>
   <label>Center: <%= @c %> </label><br><br>

 </body>
</html>
